# Auto detect text files and perform LF normalization
* text=auto
*.h5 filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
Python-Sentiment-Analysis-And-Change-Stream/models/bert-sentiment/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
Python-Sentiment-Analysis-And-Change-Stream/models/bert_full.h5 filter=lfs diff=lfs merge=lfs -text
